.class_div {
    display: flex; 
    align-items: center;
    flex-direction: column;
    margin-top: 40px; 
    width: 75%;
    margin: 0 auto;
}

.classes { 
    display: flex; 
    flex-direction: column;
}
.one_class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 0 auto;

}

.one_class_div{ 
    width: 75%;
    margin: 0 auto;
}


.no_margin { 
    margin: 0;
}