/* .banner {
    height: 150px;
    width: 100%;
    background-color: lavender;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: 'white';
} */

/* .my_header {
    margin-bottom: 40px;
} */